<!DOCTYPE html>
<html>
  <head>
    <!--<title>{% block title %}First Aid Training{% endblock %}</title>!-->
    <title>First Aid Training</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
<!-- Main Container -->
<div class="container mt-4">
<!--
{% block title %}Burns and Wounds{% endblock %}

{% block content %}-->
<h2>Fractures and Sprains</h2>
<div class="row">
  <!-- Burns -->
  <div class="col-md-6 mb-3">
    <div class="card">
      <img
        src="fractures_and_sprains.png"
        class="card-img-top"
        alt="Burns"
        height="300"
        width="200"
      />
      <div class="card-body">
        <h5 class="card-title">Fractures and Sprains</h5>
        <p class="card-text">Identify and stabilise fractures and sprains</p>
        <!-- Links to separate pages for learning and revising 
        <a href="{% url 'learning' 'burns' %}" class="btn btn-primary">Learning</a>
        <a href="{% url 'quiz' 'burns' %}" class="btn btn-secondary">Revising</a>-->
        <a href="fractures_and_sprains_learning.html" class="btn btn-primary">Learning</a>
        <a href="fractures_and_sprains_quiz.html" class="btn btn-secondary">Revising</a>
      </div>
    </div>
  </div>
</div>
<!--{% endblock %}-->
</div>
</body>
</html>
